@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: poppins;
  font-size: 62.5%;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
}



/*heading*/
.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 60rem;
}
.heading h1{
    font-family: poppins;
    font-size: 100px;
    margin: 0;
}
.heading h2{
    font-family: poppins;
    font-size: medium;
}
.heading p{
    font-family: poppins;
    font-size: 17px;
}



/*-----------------------------------------------------navigation bar------------------------------------------------------------------*/
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: right;
    background: rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    font-family:poppins;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: medium;
}
.navbar ul li a:hover {
    color: red;
}



/*----------------FLEET PAGE----------------------------*/

.popularFleet{
  margin-top: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.popularFleet h2{
  font-family: poppins;
  font-size: 50px;
  color: rgb(0, 0, 0);
  padding-left: 7.5rem;
  margin-top: 0%;
  margin-bottom: 0;
  text-align: center;
}

.popularFleet img{
  direction: flex;
  align-items: center;
  text-align: center;
  width: 720px;
  padding: 15px;
  margin: 10px;
  
}
.pf-grid{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.pf-left,.pf-right {
  display: flex;
  flex-direction: column;
}

.img-com {
  position: relative;
}

.pf-img-com img {
  height: auto;
  border-radius: 30px;
}

.details-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  font-family: poppins;
  font-size: 14px;
  margin-bottom: 2rem;
}
.details-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.details-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  font-family: poppins;
  font-size: medium;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.popularFleet.popup-content {
  position: center;
}
.popularFleet.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.fleet-carFT{
  font-size: 36px;
  text-align: center;
  font-family: poppins;
}
.fleet-carFT-p{
  font-size: medium;
  text-align: center;
}
.fleet-otherFT{
  font-size: 36px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}


/*-----------------------------------------------------BOOK A FLIGHT PAGE---------------------------------------------------------------*/
.bf-form-section {
  width: 100%;
  background: url('./images/home\ page2.jpg') no-repeat center center;
  background-size: cover; 
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}
.bf-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}
.bf-form-container {
  background: rgba(255, 255, 255, 0.1); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 90%; 
  max-width: 1200px; 
  z-index: 1;
  color: white; 
}
.bf-form-container h2 {
  font-family: 'Archivo Black', Arial, sans-serif;
  text-align:left;
  color: white; 
}
.bf-form-container p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: white; 
}
.bf-form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: bold;
}
.bf-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}
.bf-form-group label {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  color: white;
}
.bf-form-group input, .bf-form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff; 
  border-radius: 5px;
  width: 100%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.bf-consent-section {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
}
.bf-consent-section input[type="checkbox"] {
  margin-right: 10px;
}
.bf-form-section button[type="submit"] {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}
.bf-form-section button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: red;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------carosal--------------*/
:root {
  --primary: #d21b1b;
}
.fleet-car img {
  width: 100%;
  height: 100%;
}
.d-flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
}
.fleet-car {
  overflow: hidden;
}
.fleet-car .row {
  width: 95vw;
  position: relative;
}
.fleet-car .swiper-container {
  width: 100%;
  height: 100%;
}
.fleet-car .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}
.fleet-car .swiper-slide img {
  display: block;
  width: 100%;
}
.custom-next,
.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary);
  color: var(--white);
  font-size: 2.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  cursor: pointer;
}

.custom-next {
  right: -60px;
}
.custom-prev {
  left: -60px;
}
.custom-pagination {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  width: 30px;
  height: 7px;
  border-radius: 5px;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary);
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}
.fleet-car .explore {
  text-align: center;
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .custom-next,
  .custom-prev {
    top: -15%;
    transform: translateY(0%);
  }
  .custom-next {
    right: 10px;
  }
  .custom-prev {
    left: auto;
    right: 70px;
  }
}
/*---------------------------------------------------DESTINATION PAGE-------------------------------------------------------------------*/
.dt-place-section{
  margin-top:5rem ;
}
.card-dt {
  margin-left: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 15px;
  width: 90%;
  overflow: hidden;
  display: flex;
  gap: 9rem;
}
.dt-left-card img,
.dt-right-card img {
  width: 30%;
  height: auto;
  border: 5px solid white;
  border-radius: 20px;
  object-fit: cover;
}
.dt-left-card .content,
.dt-right-card .content {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dt-left-card .content {
  text-align: right;
}
.dt-right-card .content {
  text-align: left;
}
.dt-place-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.dt-place-section.distance {
  font-size: medium;
  margin-bottom: 15px;
}
.dt-place-section p {
  font-size: medium;
  line-height: 1.5;
}
.dt-place-section.card-dt + .dt-place-section.card-dt {
  margin-top: 40px;
}





/*-------------------------------------------------------fotter-------------------------------------------------------------------------*/
.social-media-links {
    background-color: #ffffff;
    text-align: center;
    color: rgb(255, 0, 0); 
  }
  .social-media-links h3 {
    margin-top: 5rem;
    font-family: 'Archivo Black', Arial, sans-serif;
    margin-bottom: 3rem;
    font-size: medium;
    color: rgb(0, 0, 0);
  }
  .social-media-links a {
    margin: 0 50px;
    display:inline-block;
  }
  .social-media-links img {
    width: 40px; 
    height: 40px; 
  }
  .social-media-links a:hover img {
    transform: scale(1.1);
    filter: brightness(1) invert(0);
  }
footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #000000;
    color: rgb(255, 255, 255);
  }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  footer .footer-section {
    flex: 1 1 300px;
    margin: 10px;
  }
  footer .footer-section h2 {
    font-family: poppins;
    margin-bottom: 10px;
  }
  footer .footer-section a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
  }
  footer .footer-section a:hover {
    color: rgb(255, 255, 255);
  }
  footer .footer-bottom {
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    font-size: 14px;
  }
  footer .footer-bottom a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 5px;
  }
  footer .footer-bottom a:hover {
    color: rgb(255, 255, 255);
  }
  footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
  }
  footer form label.consent {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
  }
  footer .footer-section a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
  }
  footer .footer-section a:hover {
    color: rgb(255, 255, 255);
  }
  footer .footer-bottom {
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    font-size: 14px;
  }
  footer .footer-bottom a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 5px;
  }
  footer .footer-bottom a:hover {
    color: rgb(255, 255, 255);
  }
  footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
  }
  
  footer form label.consent {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
  }
  footer form label.consent input[type="checkbox"] {
    margin-right: 5px;
  }
  footer form button[type="submit"] {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
  }
  footer form button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: red;
  }
  /*---------------------------------------------------END------------------------------------------------------------------------*/