@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    background: rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    font-family: poppins;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 50rem;
}
.heading h1{
    font-family: poppins;
    font-size: 80px;
    margin: 0;
} .heading h2{
    font-family: poppins;
}



.popularFleet{
    margin-top: 0;
    padding: 0;
    background-color: black;
}
.popularFleet h2{
    font-family: poppins;
    font-size: 50px;
    color: aliceblue;
    padding-left: 1rem;
    margin-top: 0%;
}

.popularFleet img{
    width: 720px;
    padding: 8px;
    margin: 0;
}
.image-row{
    display: flex;
    justify-content: center;
}
.image-com{
    flex: 1;
    padding: 10px;
}
.image-com img{
    width: 100px;
    height: auto;
}