body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('./images/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative; /* Required for the pseudo-element */
    color: #fff; /* Change text color to white for better visibility */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place it behind the content */
}

header {
    background-color: transparent; /* Remove the black background */
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Ensure header is above the pseudo-element */
    z-index: 1;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 2rem;
    position: relative; /* Ensure main is above the pseudo-element */
    z-index: 1;
    color: white;
}

h1 {
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: 'Arial Black', sans-serif; /* Apply a bold, sans-serif font */
}

.terms-content {
    padding: 8rem;
    border-radius: 10px;
    max-width: 800px;
    color: white; /* Ensure the text color is white */
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
}

.terms-content h2 {
    color: white; /* Ensure the headings are white */
}

.terms-content h3 {
    font-family: 'Play', sans-serif; /* Use Play font for h3 */
    color: white; /* Ensure the headings are white */
    font-size: 25px;
}

.terms-content p {
    font-family: 'Urbanist', sans-serif; /* Use Urbanist font for p */
}

.terms-content ul {
    margin-left: 1.5rem;
}

.terms-content ul li {
    list-style-type: disc;
    margin-left: 1rem;
    line-height: 1.5;
}

